@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

   --border: oklch(0.922 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

   --input: oklch(0.922 0 0);
}

@theme inline {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --border: oklch(0.269 0 0);

    --input: oklch(0.269 0 0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
rgb(123, 64, 25)
rgb(255, 125, 41)
rgb(255, 191, 120)
rgb(255, 238, 169)
*/